# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# env files (can opt-in for committing if needed)
.env*

#igonre python env and pycatche bytecode
/mqtt-env
__pycache__/
*.pyc

